<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to Armando's game recommendations! , <%= user.username %></h1>
    <h2> What genre are you interested in? <%= user.username %> </h2>

    <a href="/actiongames"> Interested in Action games? Click here</a>
    <a href="/indiegames"> Interested in Indie? Click here</a>
    
</body> 
</html>